.background {
    background-color: brown;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }

  .blogpost {
    justify-content: center;
    border: 1px solid #1a1a1a;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .blogpost-title {
    background-color: brown;
  }

  .blogpost-title p {
    align-self: flex-end;
    color: white;
  }